@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* CLS fix
  https://www.industrialempathy.com/perfect-ish-font-fallback/?font=Abril%20Fatface
  */
  @font-face {
    font-family: 'Abril Fatface-fallback';
    size-adjust: 102.75%;
    src: local("Arial");
  }

  /* TODO: Toto neni uplne podle principu TW */

  html {
    font-family: Georgia, serif;
    color: #2f2f23;
  }

  h1, h2, h3 {
    font-family: 'Abril Fatface', 'Abril Fatface-fallback', Georgia, serif;
    @apply text-provence-orange;
  }

  /* Systemove pismo na UI prvky a odliseni specifickych komponent */
  .nav, .foot, .lang, table, .button, .box, .offer-bar {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-lg;
  }

  /* TODO important sucks, but
  .prose :where(h1,h2,h3,p,ul,ol,table,blockquote,figure):not(:where([class~="not-prose"] *))
  */

  blockquote {
    @apply mb-2 !important;
  }

  blockquote p {
    @apply mb-0 !important;
  }

  blockquote p:first-of-type::before,
  blockquote p:first-of-type::after {
    content: "";
  }

  /* Fialova barva pozadi */
  body {
    @apply bg-provence-violin;
    background-image: url("../images/pattern-violin.webp");
    background-size: 600px 600px;
    background-position: top left;
  }

  /* Alt. modra barva */
  body.scheme-blue {
    @apply bg-provence-blue;
    background-image: url("../images/pattern-blue.webp");
  }

}

@layer components {

  .container {
    @apply mt-16 xl:mt-32 xl:mb-32 max-w-[1200px] lg:px-8;
  }

  /* Obsahovy blok */

  .content-container {
    @apply bg-white lg:rounded-lg overflow-hidden;
  }

  .content {
    @apply py-8 px-4 sm:px-8 lg:p-12;
  }

  /* Nabidka */

  .offer-bar {
    @apply bg-provence-blue text-white text-center;
    @apply py-8 px-4 sm:px-8 lg:px-12;
  }

  .scheme-blue .offer-bar {
    @apply bg-provence-violin;
  }

  /* Nadpis v obsahu */

  .content__heading {
    @apply max-w-prose prose sm:prose-lg;
    @apply max-w-4xl mb-7 max-w-prose;
  }

  /* Fotky v obsahu */

  .content__photos {
    @apply flex flex-wrap;
    @apply mb-7;
  }

  .content__photos-item {
    @apply h-28 sm:h-40;
    @apply mr-1 mb-1;
  }

  .content__photos-item-full {
    @apply max-w-full h-auto;
    @apply mb-1;
  }

  .content__photos-img {
    @apply max-h-full w-auto;
  }

  /* Text v obsahu */

  .content__text {
    @apply max-w-prose prose sm:prose-lg;
  }

  /* Navigace */

  .nav__wrapper {
    @apply flex justify-center mb-0;
  }

  .nav__item {
    @apply block mr-1;
  }

  .nav__item-inside {
    @apply block bg-white rounded-t-xl leading-4;
    @apply px-3 py-3 md:px-6;
    @apply text-sm md:text-base;
  }

  a.nav__item-inside {
    @apply bg-white/60;
  }

  a.nav__item-inside:hover,
  a.nav__item-inside:focus {
    @apply opacity-90;
  }

  /* Paticka */

  .foot {
    @apply text-white;
    @apply text-center pt-7 pb-7;
  }

  .foot a {
    @apply underline;
  }

  .lang {
    @apply text-white text-sm text-center mb-14;
  }

  .lang a {
    @apply underline;
  }

  /* Obrazek v ligthboxu */

  img[lightbox] {
    cursor: pointer;
  }

  /* Obsahovy oddelovac */

  .divider {
    display: block;
    width: 16rem;
    height: 8rem;
    background-image: url("../images/divider.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0;
    @apply mt-6 mb-12 mx-auto;
  }

  .box {
    @apply border-2 border-provence-violin;
    @apply px-4 py-4 rounded-md;
  }

  .scheme-blue .box {
    @apply border-provence-blue;
  }

  /* Zajimave: /75
  https://tailwindcss.com/docs/text-color#changing-the-opacity
  */

  .button {
    @apply inline-block bg-provence-orange px-4 py-2 text-white hover:text-white/75 rounded-md;
  }

}
